<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title - 我的 ASP.NET MVC 应用程序</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
    <link href="~/Content/menustyle.css" rel="stylesheet" />
    <link href="~/Content/navstyle.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Scripts/3c-menu.js"></script>
</head>
<body>
    <header id="header" style="height:100px;">
        <div id="top">
            这里是顶部
        </div>
        <div id="pagelogo">
            网站Logo
        </div><div id="pageright">
            右侧搜索区
            @*<section id="login">
                    @Html.Partial("_LoginPartial")
                </section>*@
        </div>
        <div>
            @Html.Action("PageNavList", "Home")
        </div>
    </header>
    <div id="body" style="position: relative;width:990px;margin:0px auto;">
        @* <div> *@
            <div style="width:185px;margin:0px 0px;">
                @*<section id="bigcategory" style="width:185px;margin:0px 0px;">*@
                    @Html.Action("BigCategoryList", "Home")
                @*</section>*@
            </div>
            <div id="circle" style="border:solid 1px;background-color:green;height:200px;float:left">
                @Html.Action("PageBannerList", "Home")
            </div>
            <div id="rightpanel" style="border:solid 1px;background-color:green;height:200px;float:left">
                右侧
            </div>
        @*</div>*@
        <div id="center" style="border:solid 1px;background-color:indigo;height:800px;">
            开始主体
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
    </div>
    <footer>
        友情链接处
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
