<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title - 我的 ASP.NET MVC 应用程序</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
    <link href="~/Content/menustyle.css" rel="stylesheet" />
    <link href="~/Content/navstyle.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.8.24.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/3c-menu.js"></script>
</head>
<body>
    <header id="header" style="height:140px;">
        <div id="top" style="background-color: rgba(193, 179, 179, 0.95); height:20px;">
            这里是顶部
        </div>
        <div id="pagelogo" style="height:70px;">
            网站Logo
        </div>
        <div>
            @Html.Action("PageNavList", "Home")
        </div>
    </header>
    <div id="body" style="position: relative;width:1210px;margin:0px auto;">
         <div style="height: 425px; width: 1210px;"> 
            <div style="width: 185px; margin: 0px 0px; float: left; height: 425px; position: absolute;">
                @*<section id="bigcategory" style="width:185px;margin:0px 0px;">*@
                    @Html.Action("BigCategoryList", "Home")
                @*</section>*@
            </div>
            <div id="circle" style="border: solid 1px; background-color: green; height: 415px; float: left; width: 681px; margin-left: 203px; top: 10px; position: absolute;">
                @Html.Action("PageBannerList", "Home")
            </div>
            <div id="rightpanel" style="border: solid 1px; background-color: green; height: 425px; float: right; width: 310px;">
                @Html.Action("PageNewsList", "Home")
            </div>
        </div>
        <div id="center" style="border:solid 1px;background-color:indigo;height:800px;">
            开始主体
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
    </div>
    <footer>
        友情链接处
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
