@using System.Data;
@model ShoppingStore.Web.Models.MenuCategoriesPModel
<div style="width:185px;margin:0px 0px;">
    <div class="mallCategory">
        <div class="catList">
            <h2><a href="#">家用电器</a></h2>
            <ul class="clearfix">
                @{
                    int k = 1;
                    foreach (DataRow item in Model.bigcategory.Rows)
                    {
                        string classsrt = "itemtit" + k.ToString();
                        if (k < 11)
                        {
                            k++;
                        }
                        else { k = 10; }
                        <li class="J_MenuItem">
                            <h3 class="@classsrt"><span></span><a href="#">@item["name"].ToString()</a></h3>
                            <p class="itemCol">
                                @{
                        DataRow[] rows = Model.subcategory.Select("parentid=" + item["cateid"].ToString());
                        int sub = 0;
                        foreach (DataRow subcategory in rows)
                        {
                            <a href="#">@subcategory["name"].ToString()</a>
                            sub++;
                        }
                                }
                            </p>
                        </li>
                    }
                }
            </ul>
        </div>
        <div class="border">
            <ul>
                <li class="mask-top"></li>
                <li class="mask-bottom"></li>
            </ul>
        </div>
        <div class="cat-subcategory">
            <div class="shadow">
                @{
                    foreach (DataRow item in Model.bigcategory.Rows)
                    {
                        <div class="entity-main">
                            <ul class="shadow-left">
                                @{
                        DataRow[] rows = Model.subcategory.Select("parentid=" + item["cateid"].ToString());
                        foreach (DataRow arr in rows)
                        {
                            <li><a href="#">@arr["name"].ToString()</a></li>
                        }
                                }
                            </ul>
                            <dl class="shadow-right">
                               <dt><b>@item["name"].ToString() 推荐品牌：</b></dt>
                                <dd>
                                    @{
                        DataRow[] brands = Model.brandtable.Select("MainCategoryID=" + item["cateid"].ToString());
                        foreach (DataRow brandsitem in brands)
                        {
                            <a href="#">@brandsitem["name"].ToString()</a>
                        }
                                    }
                                </dd>
                            </dl>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>