@{
    ViewBag.Title = "itemdetail";
    Layout = "~/Views/Shared/_ProductitemPartial.cshtml";
}
@using System.Data;
@model ShoppingStore.Model.ProductDetailsPageModel
<div style="width:1210px;height:474px;border:1px solid;margin:0px 0px;">
    <div style="width:352px;height:446px;float:left;margin-top:15px;margin-left:15px;">
        @{
            string fristimgpath = Model.MainImages[0].showimg;
            <div class="t2">
                <a href="@fristimgpath" id="zoom1" class="MagicZoom MagicThumb"><img src="@fristimgpath" id="main_img" class="main_img" style="width:352px;height:350px;" /></a>
            </div>
        }
        <div class="t1">
            <div id="showArea">
                @{
                    foreach (var item in Model.MainImages)
                    {
                        <a href="@item.showimg" rel="zoom1" rev="@item.showimg"><img src="@item.showimg" /></a>
                    }
                }
            </div>
        </div>

    </div>
    <div style="width:810px;height:410px;float:left;margin-left:15px;margin-top:10px;">
        <div style="width: 810px; height: 22px; border: 1px solid;">@Model.product.Rows[0]["ProductName"].ToString()</div>
        <div style="width: 810px; height: 375px; background-color:lightpink;margin-top:10px">SKU区</div>
    </div>
</div>
<div style="width:1210px;height:2000px;border:1px solid;margin-top:15px;">
    <!--左侧推广产品区-->
    <div style="width:210px;height:1000px;float:left;background-color:lightyellow">
        <div style="margin-bottom:10px;">
            <div style="height: 28px; border: 1px solid #ddd; line-height: 28px; background-color: #f7f7f7;">
                <h2 style="font-size:14px;">相关分类</h2>
            </div>
            <div style="border-style: none solid solid; border-width: 0px 1px 1px; border-color: -moz-use-text-color #ddd #ddd">
                <ul style="padding:4px 0px 4px 6px;margin:0px;overflow:hidden;">
                    @{
                        foreach (var item in Model.category)
                        {
                            <li style="float:left;height:18px;overflow:hidden;padding:3px 6px 3px 0px;width:94px"><a href="#">@item.name</a></li>
                        }
                    }
                </ul>
            </div>
        </div>
        <div style="margin-bottom:10px;">
            <div style="height: 28px; border: 1px solid #ddd; line-height: 28px; background-color: #f7f7f7;">
                <h2 style="font-size:14px;">热卖品牌</h2>
            </div>
            <div style="border-style: none solid solid; border-width: 0px 1px 1px; border-color: -moz-use-text-color #ddd #ddd">
                <ul style="padding:4px 0px 4px 6px;margin:0px;overflow:hidden;">
                    @{
                        foreach (var item in Model.brands)
                        {
                            <li style="float:left;height:18px;overflow:hidden;padding:3px 6px 3px 0px;width:94px"><a href="#">@item.name</a></li>
                        }
                    }
                </ul>
            </div>
        </div>
        <div style="margin-bottom:10px;">
            <div style="height: 28px; border: 1px solid #ddd; line-height: 28px; background-color: #f7f7f7;">
                <h2 style="font-size:14px;">更多购买</h2>
            </div>
            <div style="border-style: none solid solid; border-width: 0px 1px 1px; border-color: -moz-use-text-color #ddd #ddd;margin-top:10px;padding-bottom:10px;">
                   @{
    foreach (var item in Model.BestProducts)
    {
        string linkurl = "/Products/itemdetail/" + item.pid;
        <a href="" target="_blank">
            <img src="@item.ShowimgPath" alt="@item.ProductName" style="width:176px;height:150px;margin-top:5px;margin-left:10px" />
        </a>
        <div style="width: 176px; height: auto; margin-left: 10px">
            <div style="width:186px;height:20px;">
                @{
        if (item.ProductName.Length > 14)
        {
            string str = item.ProductName.Substring(0, 12) + " . . .";
            <p style="font-size:15px"> <a href="@linkurl" target="_blank">@str</a></p>
        }
        else
        { <p style="font-size:15px"> <a href="@linkurl" target="_blank">@item.ProductName</a></p>}
                }
            </div>
            <div style="width:186px;height:auto">
                <span>￥</span>@item.Shopprice
            </div>
        </div>
    }
}
            </div>
        </div>
    </div>
    <!--右侧商品详情区-->
    <div style="width:990px;height:2000px;float:left;margin-left:10px;">
        <div class="detailtab">
            <div class="title cf">
                <ul class="title-list fr cf ">
                    <li class="on">商品介绍</li>
                    <li>包装清单</li>
                    <li>商品评价</li>
                    <li>商品咨询</li>
                    <p><b></b></p>
                </ul>
            </div>
            <div class="product-wrap">
                <!--商品介绍-->
                <div class="product show">
                    @Html.Raw(Model.product.Rows[0]["Description"].ToString())
                </div>
                <!--包装清单-->
                <div class="product">
                    案例2
                </div>
                <!--商品评价-->
                <div class="product">
                    案例3
                </div>
                <!--商品咨询-->
                <div class="product">
                    案例4-
                </div>
            </div>
        </div>
    </div>
</div>
<!--底部推荐区-->
<div style="width:1210px;height:206px;margin-top:15px;background-color:lightgreen">
    <div style="width:1210px;height:10px;text-align:right;"><a href="#">查看更多商品 >></a></div>
    @{
        foreach (var item in Model.BestProducts)
        {
            string linkurl = "/Products/itemdetail/" + item.pid;
            <a href="" target="_blank">
                <img src="@item.ShowimgPath" alt="@item.ProductName" style="width:176px;height:150px;margin-top:5px;margin-left:10px" />
            </a>
            <div style="width: 176px; height: auto; margin-left: 10px">
                <div style="width:186px;height:20px;">
                    @{
            if (item.ProductName.Length > 14)
            {
                string str = item.ProductName.Substring(0, 12) + " . . .";
                <p style="font-size:15px"> <a href="@linkurl" target="_blank">@str</a></p>
            }
            else
            { <p style="font-size:15px"> <a href="@linkurl" target="_blank">@item.ProductName</a></p>}
                    }

                </div>
                <div style="width:186px;height:auto">
                    <span>￥</span>@item.Shopprice
                </div>
            </div>
        }
    }
</div>

<script type="text/javascript">
    $(function () {
        //设计案例切换
        $('.title-list li').mouseover(function () {
            var liindex = $('.title-list li').index(this);
            $(this).addClass('on').siblings().removeClass('on');
            $('.product-wrap div.product').eq(liindex).fadeIn(150).siblings('div.product').hide();
            var liWidth = $('.title-list li').width();
            $('.detailtab .title-list p').stop(false, true).animate({ 'left': liindex * liWidth + 'px' }, 300);
        });

        //设计案例hover效果
        $('.product-wrap .product li').hover(function () {
            $(this).css("border-color", "#ff6600");
            $(this).find('p > a').css('color', '#ff6600');
        }, function () {
            $(this).css("border-color", "#fafafa");
            $(this).find('p > a').css('color', '#666666');
        });
    });
</script>
